name: Build and deploy the application to Koyeb

on:
  schedule:
    - cron: '40 7 * * *'
  push:
    branches:
      - '*'

jobs:
  deploy:
    concurrency:
      group: "${{ github.ref_name }}"
      cancel-in-progress: true
    runs-on: ubuntu-latest
    steps:
      - name: Install and configure the Koyeb CLI
        uses: koyeb-community/install-koyeb-cli@v2
        with:
          api_token: "${{ secrets.KOYEB_EXAMPLES_APPS_TOKEN }}"

      - name: Build and deploy the application
        uses: koyeb/action-git-deploy@v1
        with:
          app-name: go-gin-${{ github.ref_name }}
          service-ports: "8000:http"
          service-routes: "/:8000"
          git-run-command: bin/example-go-gin
          skip-cache: true
